Source: dde-settings-default
Section: misc
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-depends: 
 debhelper-compat (= 13),
 libglib2.0-bin,
 golang-go,
 golang-github-linuxdeepin-go-lib-dev
Standards-Version: 3.9.5
Homepage: https://github.com/linuxdeepin/deepin-desktop-schemas

Package: dde-settings-default
Section: misc
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}, 
         ${dist:Depends}
Conflicts: deepin-default-gsettings,
           deepin-desktop-schemas,
           deepin-osconfig,
Replaces: deepin-default-gsettings,
          deepin-desktop-schemas,
          deepin-osconfig,
Breaks: dde-daemon (<< 2.92.2),
        startdde (<< 2.91.0),
        deepin-wm (<< 0.2.1),
        deepin-default-gsettings
Description: Default settings for deepin desktop environment
 This package contains a collection of default settings for deepin desktop 
 environment
